@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --home-font : 'Roboto', sans-serif;
  --color-font : rgb(179, 179, 179);
  --font-base: .875rem;
  --baseline-color: #121212;
  --playerbar-color: #181818;
  --icon-sm: 1.1rem;
  --icon-player:1.4rem;
  --icon-md: 1.7rem;
  --icon-lg: 3.5rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: var(--home-font);
  background-color: var(--baseline-color);
}

ul{
  list-style: none;
  padding-inline-start: 0;
}


/* Sidebar */


.sidebar {
  position: relative;
  box-sizing: border-box;
  color: var(--color-font);
  width: 14.5rem;
  height: calc(100vh - 5.625rem);
  background-color: rgb(0,0,0);
  padding:1.3rem;
  font-weight: 600;
  font-size: var(--font-base);
}

.logo {
  padding: .3rem;
  margin-bottom: 1.8rem ;
}

.logo img{
  max-width: 8.188rem;
}

.icon {
  width: var(--icon-md);
  cursor: pointer;
}

.side__list{
 display: flex;
 flex-direction: column;
 position: relative;
}

.side__element{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .732rem;
  cursor: pointer;
}

.side__element:hover{
  color: #fff;
}

.side__element:nth-child(3) {
  margin-bottom: 3rem;
} 

.side__element:nth-child(5) {
  border-bottom: #282828 .3px solid;
  padding-bottom:1rem;
}

.side__element:last-child{
  bottom: 0;
  font-weight: 400;
}

.side__element:last-child img{
  width: var(--icon-sm);
}


/* PlayerBar */

.playerbar {
  position: fixed;
  width: 100%;
  padding: 1rem;  
  bottom: 0;
  margin: 0;
  height: 5.625rem;
  background-color: var(--playerbar-color);
}

.playerbar__left {
  align-items: center;
}

.playerbar__left img{
  width: var(--icon-sm);
}

.playerbar__photo img{
  width: var(--icon-lg);
}

.song{
  color: white;
  overflow: hidden;
  max-width: 150px;
}

.songer{
  color: #b3b3b3;
  font-size: 0.6875rem;
  line-height: 1rem;
}

.playerbar__song p {
  display: inline;
}

/* playerbar mid */

.player__mid{
}

.playing {
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
}


.player__tools img {
  width: var(--icon-player);
}


.rotate__180{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.col__img img{
  width: var(--icon-player);
}

img:hover {
  filter:  brightness(0) invert(1);
}


.font {
  color: white;
  font-size: 0.625rem;
}

input[type=range] {
  height: 4px;
  width: 30rem;
  cursor: pointer;
}



.playerbar_right {
  align-items: center;
}
